<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{site.homeurl}}">
          <img src="{{ site.logo | site.homeurl}}" class="logo" />
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
            <a class="sidebar-nav" href="{{ site.url | site.homeurl }}/en/#scrollto-section-1">section-1</a>
            <a class="sidebar-nav" href="{{ site.url | site.homeurl }}/en/#scrollto-section-2">section-2</a>
            <a class="sidebar-nav" href="{{ site.url | site.homeurl }}/en/#scrollto-section-3">section-3</a>
            <a class="sidebar-nav" href="{{ site.url | site.homeurl }}/en/#scrollto-section-4">section-4</a>
    </nav>

  </div>
</div>
