---
layout: blog
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <h2 class="post-subtitle">{{ page.subtitle }}</h2>
  <span class="post-date">
  {{ page.date | date: "%d/%m/%Y" }}
  
  {% assign words = content | number_of_words %}
  {% if words < 360 %}
    - Hwa Cheol, Ju
  {% else %}
    - {{ words | divided_by:180 }} Hwa Cheol, Ju
  {% endif %}
  </span>
  
  {{ content }}
</div>

<div class="related">
  <h3>More posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:5 %}
      <li>
        <h4>
          <a href="{{ site.url | prepend: site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date: "%d/%m/%Y" }}</small>
          </a>
        </h4>
      </li>
    {% endfor %}
  </ul>
</div>
